<%-include('./parts/head')%>
<table border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>Item_Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Purchased_on</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><%= result.Id%></td>
        <td><%= result.Item_Name%></td>
        <td><%= result.Quantity%></td>
        <td><%= result.Price%></td>
        <td><%= result.Created_on%></td>
    </tr>
    </tbody>
</table>
<br><br>
<form action = '/'>
    <button type="submit">Click here to see full List.</button>
</form>
<%-include('./parts/tail')%>